.wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #777;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.varieties {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 15px;
}

.varieties:hover {
   background-color: #555;
}

.varieties:before {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.exams {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: display 0.2s ease-out;
}

.exams > li:hover{
   background-color: #555;
}

.showHidden {
    display: inline;
}

.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white;
}