<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
    <link type="text/javascript" href="{{ url_for('static', filename='map.js') }}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/searchbar.css') }}" />
    <title>Luxmed Scrapper</title>
</head>
<body>
    <div class="wrapper fadeInDown">

        <!--- search form -->
        <div id="formContent">
            <!-- login info -->
            <div class="loginfo container">
                Zalogowany jako: {{ username }}
            </div>
                <form method="POST" id="searchForm">
                    <!-- exam picker -->
                    <label for="exam"  class="fadeIn second">
                        Wpisz nazwę usługi lub kliknij aby rozwinąć listę:
                        <select class="searchbar fadeIn first" name="exam_choice" id="exam">
                            <option></option>
                            {% for index, variety in varieties.items() %}
                                {% for i, exam in variety.examList.items() %}
                                    <option value="{{ i }}">{{ exam.name }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </label>

                    <!-- start date picker -->
                    <label for="date1" class="fadeIn second">
                        Wybierz datę początkową:
                    <input type="text" id="date1" name="start_date" class="picker fadeIn second">
                    </label>

                    <!-- end date picker-->
                    <label for="date2" class="fadeIn third">
                        Wybierz datę końcową:
                    <input type="text" id="date2" name="end_date" class="picker fadeIn third">
                    </label>
                    
                    <input type="submit" class="fadeIn fourth" value="Wyszukaj">
                </form>
        </div>
    </div>



<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='jquery.datetimepicker.full.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    var date = new Date();
    $('.picker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
        value: date,
        weeks: false,
        hours12: false,
        step: 30,
    })

    $(document).ready(function() {
        $('.searchbar').select2();
    });
    $(".searchbar").select2({
        placeholder: "Wyszukaj...",
        allowClear: true
    });
</script>
</body>
</html>