<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
    <link type="text/javascript" href="{{ url_for('static', filename='map.js') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.min.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <title>Luxmed Scrapper</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- login info -->
            <div class="loginfo container mb-5">
                Zalogowany jako: {{ username }}
            </div>
            <!-- exam picker -->
            <div class="container mt-5 mb-5">
                <select class="js-example-placeholder-single js-states form-control picker fadeIn first">
                    <option></option>
                    {% for index, variety in varieties.items() %}
                        {% for i, exam in variety.examList.items() %}
                            <option value="{{ i }}">{{ exam.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <!-- start date picker -->
            <div class="container mt-5 mb-5">
                <label for="start_date">Wybierz datę początkową:</label>
                <input type="text" id="start_date" class="form-control picker fadeIn second">
            </div>
            <!-- end date picker-->
            <div class="container mt-5 mb-5">
                <label for="end_date">Wybierz datę końcową:</label>
                <input type="text" id="end_date" class="form-control picker fadeIn third">
            </div>
            <div class="container mt-5 mb-5">
                <input type="submit" class="fadeIn fourth" value="Wyszukaj">
            </div>

        </div>
    </div>



<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='jquery.datetimepicker.full.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    var date = new Date();
    $('.picker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
        value: date,
        weeks: false,
        hours12: false,
        step: 30,
    })

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    $(".js-example-placeholder-single").select2({
        placeholder: "Wyszukaj usługę po nazwie lub znajdź na liście poniżej.",
        allowClear: true
    });
</script>
</body>
</html>