<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luxmed Scrapper</title>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
</head>
<body>


<div class="wrapper fadeInDown">
    <div id="formContent">
        {% if message %}
        <div class="fadeIn first">
            <p class="warning">{{ message }}</p>
        </div>
        {% endif %}
        <div class="fadeIn first">
          <p class="title">Luxmed Scrapper</p>
        </div>
        <form method="POST">
            <input type="email" id="login" class="fadeIn second" name="login" placeholder="email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="hasło">
            <input type="submit" class="fadeIn fourth" value="Zaloguj">
        </form>
    </div>
</div>

</body>
</html>