<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reservation_details.css') }}">
    <title>Luxmed Scrapper</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="loginfo container">
                Zalogowany jako: {{ response_dict.username }}
            </div>
            <div class="reservation_details">
                <p class="warning">{{ response_dict.message }}</p>
                <p>Status rezerwacji: {{ response_dict.status }}</p>
                {% if response_dict.reservation_details %}
                    <p>Data: {{ response_dict.reservation_details.date }}<br>
                       Godzina: {{ response_dict.reservation_details.time }}<br>
                       Lekarz: {{ response_dict.reservation_details.doctor.academicTitle }}
                               {{ response_dict.reservation_details.doctor.firstName }}
                               {{ response_dict.reservation_details.doctor.lastName }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>